.AboutView {
  margin: 50px 20px;
}

.AboutView button, .AboutView select {
  color: inherit;
  filter: invert(30%);
}

.exportOptions {
  display: flex;
  flex-direction: column;
}

.AboutView em {
  margin: 5px 0;
}

.exportUrl {
  display: flex;
  margin: 15px 0;
  max-width: 640px;
}

.url {
  margin: 0;
  width: 100%;
  font-size: 16px;
  font-family: monospace;
  text-overflow: ellipsis;
}

.exportUrl button {
  width: 100px;
  height: 40px;
}
