/*  Main css file */

.gridItem {
  overflow: hidden;
}

.gridItem.resizeable {
  animation-duration: .3s;
  animation-name: bgcolor;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes bgcolor {
  from {
    background-color: transparent;
  }
  to {
    background-color: #eee;
  }
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 100%;
  width: 100%;
}

.appbar {
  top: 0;
  right: 0;
  position: fixed;
  background-color: transparent;
  transform: translate3d(calc(100% - 52px), 0, 0);
  transition: transform .3s ease-in-out, background-color .3s linear;
  z-index: 2;
  will-change: transform;
}

.icon {
  width: 34px;
  height: 34px;
  fill: #666;
  vertical-align: middle;
}

.icon.selected {
  fill: #ffbc00;
}

.appbar button {
  margin: 4px;
  background: transparent;
  border: none;
  outline: none;
}

.appbar.open {
  background-color: rgba(255, 255, 255, .85);
  transform: translate3d(0, 0, 0);
}

.appbar button:first-child {
  transition: transform .3s ease-in-out, color .3s linear;
}

.appbar.open button:first-child {
  transform: rotate(-120deg);
}

.addDevices {
  margin: 50px 20px;
}

.addDevices i {
  color: #666;
  vertical-align: middle;
}

.addDevices aside {
  font-size: .8em;
}

.addDevices .icon {
  width: 24px;
  height: 24px;
}
