.AlertWidget section {
  flex: 2;
}

.AlertWidget svg {
  flex: 1;
}

.level0 {
  fill: gray;
}

.level1 {
  fill: green;
}

.level2 {
  fill: #ffe01c;
}

.level3 {
  fill: orange;
}

.level4 {
  fill: #e80a0a;
}

