button.switch {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  color: #808080;
  background-color: #eee;
  outline: none;
  transition: all .2s ease-out;
  font-size: 20px;
  font-weight: lighter;
  text-overflow: ellipsis;
  overflow: hidden;
}

button.switch.On {
  color: white;
  background-color: #ffbc00;
}

button.switch:active {
  transform: scale(0.9);
}

button.switch.Mixed {
  background: repeating-linear-gradient(
    -45deg,
    #ffbc00,
    #ffbc00 20%,
    #eee 20%,
    #eee 80%,
    #ffbc00 80%,
    #ffbc00 100%
  );
}

button.switch.Push {
  background: repeating-linear-gradient(
    -45deg,
    #808080,
    #808080 20%,
    #eee 20%,
    #eee 80%,
    #808080 80%,
    #808080 100%
  );
}
