.slider, .bar, .dimmerContainer, .dimmerProgress, .dimmerProgressContent {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform .3s ease-out;
  pointer-events: none;
  user-select: none;
}

.slider {
  opacity: 0;
  pointer-events: all;
}

.bar, .dimmerProgress {
  margin-left: -100%;
}

.bar {
  box-sizing: border-box;
  border-right: 3px solid #4a4a4a;
  transition: transform .3s ease-out, opacity .3s linear;
}

.dimmerContainer, .dimmerProgressContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dimmerContainer {
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}

.dimmerProgressContent {
  position: relative;
  color: white;
}

.dimmerContainer p {
  font-weight: lighter;
}
